.mnId {
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #d1e099;
}

.mnId section {
    width: 70%;
    display: flex;
    flex-direction: row;
    background-color:#5b8866;
    border-radius: 30px;
}

.mnId section article {
    width: 100%;
    height: 450px;
}

.mnId section #form_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-radius: 20px;
}

.mnId section #img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5b8866;
    border-radius: 20px;
}

.imglogo{
    width: 100px;
    align-self: start;
}

#Iconback {
    padding-right: 400px;
    
}

.text2{
    color: #5b8866;
    font-size: 35px;
}

.buttonLogin {
    margin-top: 25px;
    width: 150px;
    color: black;
}

.Icons{
    gap: 30px;
}

.ForgotThePass{
    text-align:center ;
    justify-content: center;
    color: black; 
}

#img img{
    width: 70%;
}

@media screen and (max-width:1023px) { 
    main section #img{
        display: none;
    }
}

