@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}
.gridBox{
  margin: top 300px;;
}
.buttonProviders {
  width: 100px;
  color: black;
  display: flex;
  padding-left: 100px;
  text-Align: center;
}
.text{
  color: #5b8866;
  font-size: 35px;
  
}
.text3{
  color: #5b8866;
  font-size: 35px;
  text-align: center;
}
.button1 {
  display: flex;
  justify-content:space-around;
  color: #5b8866;

}
.test4 {
  color: 	#000000;
  justify-content: center;
  width: 100px;
  display: flex;
  text-align: center;
}
.margin{
  color: #000000;
  text-align: center;
}
