@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}
:root{
  --green: #88A18E;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --border:.2rem solid rgba(0,0,0,.1);
  --outline:.1rem solid rgba(0,0,0,.1);
  --outline-hover:.2rem solid var(--black);
}
.provider-title{
  background-color: rgb(32, 176, 32);

 }
.provider-body{
 margin-top: 100px;
 text-align: center;
}
.provider-section{
  background-color: rgb(134, 184, 60);
 }
 .provider-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .provider-input{
  padding: 15px 250px;
  margin-top: 3%;
  display: flex;
  flex-direction: row-reverse;
  padding-inline-start: 14px;
}
.provider-input2{
  padding: 100px 250px;
  margin-top: 3%;
  padding-inline-start: 14px;
  padding-block-start: 14px;
}
.provider-p{
  background-color: rgb(189, 228, 189);
  margin-top: 3%;
}
.provider-p2{
  background-color: rgb(189, 228, 189);
  margin-top: 0%;
}