.texto-carrinho{
    color: #fff !important;
}
.icone-carrinho{
    color: #fff !important;
    box-shadow: 1px 1px 5px var(--green);
}


.imgCart{
    width: 25%;
    height: 25%;
    object-fit: cover;
}

.container-carrinho{
    text-align: center;
    align-items: center;
}

.MuiDrawer-paper{
    width: 24% ;
}

.botoes-carrinho{
    padding: 0 20px !important;
    font-size: 10px !important;
}

.btn2{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn2:hover{
    background: var(--green);
    color: #fff;
  }