<<<<<<< HEAD
.banner{
=======
#home{
>>>>>>> c328b2703c36811d79f5968dfb47022484473300
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../../assets/img/banner-bg.webp) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 60px;
}

<<<<<<< HEAD
.banner .content{
=======
#home .content{
>>>>>>> c328b2703c36811d79f5968dfb47022484473300
  text-align: center;
  width: 40rem;
}

<<<<<<< HEAD
.banner .content h3{
=======
#home .content h3{
>>>>>>> c328b2703c36811d79f5968dfb47022484473300
  color: var(--black);
  font-size: 32px;
}

<<<<<<< HEAD
.banner .content h3 span{
  color: var(--green);
}

.banner .content p{
=======
#home .content h3 span{
  color: var(--green);
}

#home .content p{
>>>>>>> c328b2703c36811d79f5968dfb47022484473300
  color: var(--light-color);
  font-size: 16px;
  padding: 1rem 0;
  line-height: 1.8;
}



