<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Footer.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Greeniverse</h4>
  	 			<ul>
  	 				<li><a href="#">Sobre Nós</a></li>
  	 				<li><a href="#">Nossos Serviços</a></li>
  	 				<li><a href="#">Politica de Privacidade</a></li>
  	 				
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Dúvidas</h4>
  	 			<ul>
  	 				<li><a href="#">Perguntas Frequentes</a></li>
  	 				<li><a href="#">Como Funciona</a></li>
  	 				<li><a href="#">Opções de Pagamento</a></li>
                     <li><a href="#">Seja Nosso Fornecedor</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Atendimento</h4>
  	 			<ul>
  	 				<li><a href="#">Fale Conosco</a></li>
  	 				<li><a href="#">Central de Ajuda</a></li>
  	 				<li><a href="#"></a></li>
  	 				<li><a href="#"></a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Siga nos</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-google"></i></a>
  	 				<a href="#"><i class="fab fa-github"></i></a>
  	 				<a href="https://www.instagram.com/greeniverse_organics/" target="_blank"><i class="fab fa-instagram"></i></a>
  	 				
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
       <div class="copy">
        &copy; Greeniverse
       </div>
  
   
       
  </footer>
    

  
  

</body>
</html>