nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #F6F6F6;
}

.top-promo-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 100%;
    background-color: #5b8866;
  }
  
  .top-promo-banner span {
    font-size: 13px;
    color: white;
  }
  
  .top-nav-bar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    justify-items: center;
    margin: 0 auto;
    height: 100px;
    width: 100%;
    max-width: 1000px;
    background-color: #F6F6F6;
  }
  
  .top-nav-bar .logo{
    width: 100px;
  }
  
  .search-box{
    display: flex;
    height: 35px;
    width: 450px;
    border-radius: 60px;
    background-color: white;

  }
  
  .lupa-icon{
    align-self: center;
    padding: 10px 20px;
    width: 55px;
  }
  
  .search-box input{
    flex: 1;
    border: none;
    outline: none;
    border-radius: 60px;
  }
  
  .search-box button{
    color: black;
    background-color: #f0f0f0;
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 60px;
    transition: all .5s ease;
  }
  
  .search-box button:hover{
    color: white;
    background-color: #5b8866;
  }
  
  header a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    font-size: 14px;
  }
  
  .nav-icon-1{
    height: 30px;
    width: 30px;
  }
  
  .nav-icon-2{
    height: 30px;
    width: 30px;
  }
  
  .botton-menu-bar{
    display: flex;
    background-color: white;
    width: 100%;
    height: 30px;
    box-shadow: 0px 2px #e4e4e4;
  }
  
  .botton-list{
   display: flex;
   align-items: center;
   justify-content: space-between;
   justify-items: center;
   margin: 0 auto;
   list-style: none;
   width: 1000px;
  }
  
  .botton-list a{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
  }

@media (max-width: 375px){
  .top-nav-bar .logo{
    display: none;
  }
}












  
  /*
  @media (max-width: 1060px){
  
    .top-nav-bar{
      justify-content: center;
      gap: 30px;
      width: 100%;
    }

    .search-box{
      width: 400px;
    }

    .search-box button{
      padding: 10px 20px;
    }
    
  }

  @media (max-width: 890px) {
    .search-box{
      width: 300px;
    }

    .search-box input{
      font-size: 13px;
    }

    .search-box button{
      padding: 10px 12px;
    }

    header a{
      gap: 10px;
      font-size: 12px;
    }
  }

  @media (max-width: 750px){
    .top-nav-bar .logo{
      display: none;
    }

    .search-box{
      margin: 0 auto;
    }
  }

  @media (max-width: 610px){
    header a{
      display: flex;
      font-size: 12px;
      gap: 5px;
    }

  }
  */



  @media (max-width: 375px){
    .search-box input{
      flex: 1;
      border: none;
      outline: none;
      border-radius: 60px;
    }
    
    .search-box button{
      background-color: #f0f0f0;
      background-image: "";
      width: 35px;
      height: 35px;
      padding: 10px 10px;
      border-radius: 60px;
      font-size: 0px;
    }
  }



/*
  @media (max-width: 1633px){
    .search-box{
      width: 350px;
    }

    .search-box button{
      padding: 10px 20px;
    }

  }

  @media (max-width: 1429px){
    header a{
      gap: 0px;
      font-size: 0px;
    }
  }

  @media (max-width: 1237px){
    .search-box{
      width: 300px;
    }

    .search-box button{
      padding: 10px 10px;
    }
  }
  */