/* Navbar-Global */

#navbar{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  20px 9%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

/*Logo-section*/

#logo-section #logo{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 26px;
  font-weight: bolder;
  color: var(--green);
}

#logo-section img {
  width: 50px;
}

/*Menu-list*/

#menu a{
  font-size: 16px;
  margin: 0 16px;
  color: var(--black);
}

#menu a:hover{
  color: var(--green);
  font-size: 18px;
}

/*Icons-section*/

#icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icons label{
  height: 45px;
  width: 45px;
  line-height: 3rem;
  border-radius: 8px;
  background: #eee;
  color: var(--black);
  font-size: 24px;
  margin-right: 9px;
  cursor: pointer;
  text-align: center;
}

#icons label:hover {
  background: var(--green);
  color: #fff;
}

#menu-btn{
  display: none;
}

/*Login-form*/

.login-form{
  position: absolute;
  top: 110%; right: -110%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: .5rem;
  background-color: #fff;
  text-align: center;
}

.login-form h3{
  font-size: 24px;
  text-transform: uppercase;
  color: var(--black);
}

.login-form .btn{
  width: 60%;
  text-align: center;
  background:#eee;
  font-size: 16px;
  color:var(--black);
  text-transform: none;
}

#checkbox_login{
  display: none;
}

#checkbox_login:checked~.login-form {

  right: 20px;
  transition: .4s linear;
}

.btn{
  margin: 10px !important;
}

.btn:hover{
  background: var(--green);
  color: #fff;
}


/*Media-Queries*/

@media only screen and (max-width: 1450px) {
  #navbar{
    padding:  20px 2%;
  }
}

@media only screen and (max-width: 1240px) {
  #menu-btn{
    display: inline-block;
  }
  
  #menu{
    position: absolute;
    top: 110%; right: -110%;
    width: 280px;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;
  }

  #menu.active{
    right: 20px;
    transition: .4s linear;
  }

  #menu a{
    font-size: 16px;
    margin: 16px 10px;
    display: block;
  }
}








/* Terceira Section 
#icones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#icones i {

  width: 2.5rem;
  line-height: 2.5rem;
  border-radius: .5rem;
  background: #eee;
  color: var(--black);
  font-size: 1rem;
  margin-right: .3rem;
  cursor: pointer;
  text-align: center;

}

#icones i:hover {
  background: var(--green);
  color: #fff;
}

#icones #menu-btn {
  display: none;
}

@media (max-width: 1100px) {

  #icones #menu-btn {
    display: block;
  }



  #navbar {
    justify-content: space-between;
  }

  #menu {
    position: absolute;
    flex-direction: column;
    top: 150px; right: -110%;
    width: 15rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;
  }

  #menu.active{
    right: 2rem;
    transition: .4s linear;
  }

  #menu .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
  
} */