#container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    padding: 50px 150px;
}

#delivery,
#finishing {
    width: 500px;
    box-sizing: border-box;
}

#delivery h2 {
    font-size: 32px;
    margin: 15px 10px;
}

#delivery p {
    font-size: 17px;
    margin: 0px 10px;
}

#formCep {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#cep,
#labelCoupon {
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 0px;
}

#linkCep h4 {
    font-size: 20px;
    margin: 10px;
    color: var(--green);
}

#linkCep:hover {
    color: grey;
}

#coupon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#coupon #textCoupon{
    padding-right: 20px;
}



.btFinish{
  display: inline-block;
  font-weight: bold;
  font-size: 45px;
  border-radius: 8px;
  border: 2px solid var(--black);
  color:var(--black);
  cursor: pointer;
  
}
